* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /* outline: 1px solid #f00 !important; */
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add styles here! */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.title {
  font-size: 2rem;
  margin-bottom: 48px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

p {
  margin-bottom: 16px;
  line-height: 1.4;
}

header {
  padding-top: 64px;
  padding-bottom: 48px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.intro-chunk {
  max-width: 325px;
}

.max-width-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding-top: 96px;
  padding-bottom: 96px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 8px 24px;
  margin: 0 -24px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  display: inline-block;
  padding: 16px 40px;
  margin-left: -40px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-bottom: 24px;
}

@media (max-width: 800px) {
  .max-width-wrapper {
    padding: 0 24px;
  }
  main {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media (max-width: 500px) {
  .indented-heading {
    margin-right: 16px;
  }
}
